@import '../../Common.styles.scss';

.review{
    text-align: left;
    padding: 40px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid $ef-studio-dark-grey;
    width: 60vw;

    h4, p{
        color: $ef-studio-dark-grey;
    }

    &:last-child{
        border-bottom: none;
    }

    .feature{
        margin: 30px 0px;
    }
    
}

@media only screen and (min-width: 768px){
    .review{
        padding: 40px 30px;
        border-bottom: none;
        border-right: 1px solid $ef-studio-dark-grey;
        width: 100%;
        text-align: left;

        &:first-child{
            padding: 40px 30px 40px 0px;
        }

        &:last-child{
            border-right: none;
            padding: 40px 0px 40px 30px;
        }
    }
}