.home-page{
    position: relative;

    .heading-text{
        position: relative;
        height: 70vh;
        padding: 20px;
        box-sizing: border-box;

        h1{
            position: absolute;
            top: 220px;
            left: 20px;
            width: 75vw;
        }
    }

    .three-col-container, .about{
        padding: 10px 30px 10px 20px;
        box-sizing: border-box;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px){
    .home-page{

        .heading-text{
            height: 40vh;
            text-align: center;
            width: 100vw;

            h1{
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .three-col-container, .about{
            margin-bottom: 60px;

            .three-col{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (min-width: 1366px){
    .home-page{
        width: 900px;
        margin: 0px auto;

        .heading-text{
            height: 50vh;
            width: 100%;
            margin-top: 80px;

            h1{
                width: 100%;
            }
        }

        .three-col-container, .about{
            position: relative;
        }
    }
}

@media only screen and (min-width: 1920px){
    .home-page{
        width: 1100px;
    }
}